.DS_Store
node_modules
/dist
/old

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
todo.md
test.js
main.js
.vscode
html_test/
trash/
test/

public/
deno.lock
