body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 750px) {
    #wrapper {
        flex-direction: row;
        align-items: flex-start;
    }

    .container {
        margin-bottom: 0;
        margin-right: 10px;
        width: calc(50% - 5px);
    }

    .container:last-child {
        margin-right: 0;
    }
}

.section {
    margin-bottom: 0px;
}
.section label {
    display: block;
    margin-bottom: 0px;
}
.section input[type="text"],
.section.character-select-box select, 
.section .input-group select {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.section input[type="button"] {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.section input[type="button"]:hover {
    background-color: #0056b3;
}
.input-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-group input[type="text"],
.input-group select {
    flex: 1 1 calc(20% - 10px);
    margin-right: 10px;
}
.input-group input[type="text"]:last-child,
.input-group select:last-child {
    margin-right: 0;
}


#card-box-container {
    display: flex;
    gap: 10px;
}

.container-character-cards-box {
    flex: 1 1 calc(50% - 10px);
    align-items: center;
}

.character-cards-box {
    /* flex: 1 1 calc(50% - 10px);
    align-items: center; */
}

.character-cards-box > .character-cards {
    margin-bottom: 10px;
}

.character-cards-box > .character-cards:last-child {
    margin-bottom: 0px;
}

.card-container-item {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.card-container-item[data-rarity="3"] {
    background-color: #ffc;
}
.card-container-item[data-rarity="4"] {
    /* background-color: #fcf; */
    /* background : linear-gradient(118deg, 
                               red,
                               orange,
                               yellow,
                               green,
                               aqua,
                               blue,
                               purple); */
    
    /* background: linear-gradient(to right, #ffffb2, #ffffb2, #ffffb2, #d8ffb2, #b2ffb2, #b2ffd8, #b2ffff, #b2d8ff, #b2b2ff, #d8b2ff, #ffb2ff, #ffb2d8); */
    background: linear-gradient(to right, #FFFFE0, #FFFFE0, #FFFFE0, #EFFFE0, #E0FFE0, #E0FFEF, #E0FFFF, #E0EFFF, #E0E0FF, #EFE0FF, #FFE0FF, #FFE0EF);

}


.section.card-select-box select {
    background-color: transparent;
    flex: 1;
    height: 35px;
    padding: 8px;
    border: 0;
    border-radius: 4px;
    width: 100%;
}

.checkbox {
    display: none;
}
.card-container-item > .checkbox-label {
    width: 35px;
    height: 35px;
    margin-bottom: 0px;
    border-right: solid 1px #ccc;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all 100ms ease-in;
}



.checkbox-label::before,
.checkbox-label::after {
    content: "";
    background-color: #aaa;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 100ms ease-in;
}

.checkbox-label::before {
    width: 4px;
    height: 50%;
}

.checkbox-label::after {
    width: 50%;
    height: 4px;
}

.checkbox:checked + .checkbox-label {
    background-color: #fd9;
}

.checkbox:checked + .checkbox-label::after,
.checkbox:checked + .checkbox-label::before {
    background-color: #f60;
}

.run-button {
    text-align: center;
}
.run-button input[type="button"] {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.run-button input[type="button"]:hover {
    background-color: #218838;
}

#contest-log {
    width: calc(100% - 10px);
    border: 1px solid #ccc;
    background-color: white;
    padding: 5px;
    overflow-x: scroll;
}



.result-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}
.result-table th {
    padding: 3px;
    background: #e9faf9;
    border: solid 1px #778ca3;
}
.result-table td {
    padding: 3px;
    border: solid 1px #778ca3;
}

.result-log-button {
    display: flex;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #007bdd;
}

.result-log-button > input[type="radio"] {
    display: none;
}

.result-log-button > .radio-box {
    flex: 1;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.result-log-button > input[type="radio"]:checked + .radio-box {
    background-color: #007bdd;
    color: white;
}

.hide {
    display: none;
}

.center {
    text-align: center;
}

a {
    font-weight: bold;
    color: #007bdd;
    text-decoration: none;
}

#card-box-information {
    text-align: center;
    font-size: 12px;
}